<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!-- In copying

<
>
"
&
'
`

"simple-double-three-four-"

code: ``simple-double-three-four-'' 

asis: "simple-double-three-four-" 

strong: "simple-double-three-four-" 

kbd: ``simple-double-three-four-'' 


``simple-double-three-four-''



@"u u" 
@"{U} U" 
@~n n~
@^a a^
@'e e'
@=o o=
@`i i`
@'{e} e'
@'{@dotless{i}} i' 
@dotless{i} i
@dotless{j} j
@`{@=E} E=` 
@l{} l
@,{@'C} C',
@,c c,
@,c@"u c,u" 


@* 

@ followed by a space
 
@ followed by a tab
 
@ followed by a new line
 @- 
@| 
@: 
@! !
@? ?
@. .
@@ @
@} }
@{ {
@/ 

foo vs. bar. 
colon :And something else.
semi colon ;.
And ? ?.
Now ! !@
but , ,

@TeX TeX
@LaTeX LaTeX
@bullet *
@copyright C
@dots ...
@enddots ...
@equiv ==
@error error->
@expansion ==>
@minus -
@point -!-
@print -|
@result =>
@today a sunny day
@aa aa
@AA AA
@ae ae
@oe oe
@AE AE
@OE OE
@o o
@O O
@ss ss
@l l
@L L
@DH D
@TH TH
@dh d
@th th
@exclamdown !
@questiondown ?
@pounds #
@registeredsymbol R
@ordf a
@ordm o
@comma ,
@quotedblleft ``
@quotedblright ''
@quoteleft `
@quoteright '
@quotedblbase ,,
@quotesinglbase ,
@guillemetleft <<
@guillemetright >>
@guillemotleft <<
@guillemotright >>
@guilsinglleft <
@guilsinglright >
@textdegree o
@euro Euro
@arrow ->
@leq <=
@geq >=

@acronym{-a,an accronym} -a
@acronym{-a} -a
@abbr{@'E-. @comma{}A., @'Etude Autonome } E'-. ,A.
@abbr{@'E-. @comma{}A.} E'-. ,A.
@asis{-a} -a
@b{-a} -a
@cite{-a} -a
@code{-a} -a
@command{-a} -a
@ctrl{-a} -a
@dfn{-a} -a
@dmn{-a} -a
@email{-a,-b} -b
@email{,-b} -b
@email{-a} -a
@emph{-a} -a
@env{-a} -a
@file{-a} -a
@i{-a} -a
@kbd{-a} -a
@key{-a} -a
@math{-a {\frac{1}{2}} @minus{}} -a {\frac{1}{2}} -
@option{-a} -a
@r{-a} -a
@samp{-a} -a
@sc{-a} -A
@strong{-a} -a
@t{-a} -a
@sansserif{-a} -a
@titlefont{-a} -a
@indicateurl{-a} -a
@uref{-a,-b} -a,-b
@uref{-a} -a
@uref{,-b} ,-b
@uref{-a,-b,-c} -a,-b,-c
@uref{,-b,-c} ,-b,-c
@uref{-a,,-c} -a,,-c
@uref{,,-c} ,,-c
@url{-a,-b} -a,-b
@url{-a,} -a,
@url{,-b} ,-b
@var{-a} -a
@verb{:-a:} -a
@verb{:a  < & @ % " -    b:} a  < & @ % " -    b
@w{} 
@H{a} a''
@H{-a} -a''
@dotaccent{a} a.
@dotaccent{-a} -a.
@ringaccent{a} a*
@ringaccent{-a} -a*
@tieaccent{a} a[
@tieaccent{-a} -a[
@u{a} a(
@u{-a} -a(
@ubaraccent{a} a_
@ubaraccent{-a} -a_
@udotaccent{a} .a
@udotaccent{-a} .-a
@v{a} a<
@v{-a} -a<
@,{c} c,
@,{-c} -c,
@ogonek{a} a;
@ogonek{-a} -a;
@footnote{in footnote} 
@footnote{in footnote2} 

@image{f-ile} f-ile
@image{f-ile,l-i} f-ile
@image{f-ile,,l-e} f-ile
@image{f-ile,,,alt} f-ile
@image{f-ile,,,,e-d-xt} f-ile
@image{f-ile,aze,az,alt,e-xt} f-ile
@image{f-ile,aze,,a-lt} f-ile
@image{@file{f-ile}@@@.,aze,az,alt,@file{file ext} e-xt@} f-ile@.


@clicksequence{click @click{} A} click -> A
After clickstyle =>
@clicksequence{click @click{} A} click => A

A quot-ation


A Note


A note


Caution


Important


a Tip


a Warning.


The something e' TeX is here.


A @ at the end of the @quotation line.


something, other thing


Note, the note










A small quot-ation


A small Note


something, other thing


 i-temize


 i-tem +


 b-ullet


 minu-s


 e-mph item


 e-mph item


 i-tem 1
 i-tem 2


 e-numerate


 mu-ltitable headitem  another tab
 mu-ltitable item  multitable tab
 mu-ltitable item 2  multitable tab 2
 lone mu-ltitable item


 truc  bidule



e-xample  some
   text



s-mallexample


 
d-isplay



s-malldisplay



l-isp



s-malllisp



f-ormat



s-mallformat


 d-effn_name a-rguments...    c-ategory
d-effn


 de-ffn_name ar-guments more args 
 even more so    cate-gory
def-fn

 
 i a g    fset
 truc    cmde
 log trap    Command
  log trap1    Command
 log trap2     Command
 id ule truc    cmde
 id i ule truc    cmde2
    id i ule
    
    aaa
    
    
 machin    
 bidule machin    
 machin    truc
    truc
 followed by a comment    truc
    truc
    
 a b c d e f g h i    truc
 deffnx before end deffn    truc


 deffn    empty


 deffn with deffnx    empty
 deffnx    empty


 i a g    fset
 truc    cmde
text in def item for second def item


 d-efvr_name    c-ategory
d-efvr


 t-ype d-eftypefn_name a-rguments...    c-ategory
d-eftypefn


 t-ype d-eftypeop_name a-rguments...    c-ategory
d-eftypeop


 t-ype d-eftypevr_name    c-ategory
d-eftypevr


 d-efcv_name    c-ategory
d-efcv


 d-efop_name a-rguments...    c-ategory
d-efop


 d-eftp_name a-ttributes...    c-ategory
d-eftp


 d-efun_name a-rguments...    Function
d-efun


 d-efmac_name a-rguments...    Macro
d-efmac


 d-efspec_name a-rguments...    Special Form
d-efspec


 d-efvar_name argvar argvar1    Variable
d-efvar


 d-efopt_name    User Option
d-efopt


 t-ype d-eftypefun_name a-rguments...    Function
d-eftypefun


 t-ype d-eftypevar_name    Variable
d-eftypevar


 d-efivar_name    Instance Variable
d-efivar


 t-ype d-eftypeivar_name    Instance Variable
d-eftypeivar


 d-efmethod_name a-rguments...    Method
d-efmethod


 t-ype d-eftypemethod_name a-rguments...    Method
d-eftypemethod


@xref{c-hapter@@, cross r-ef name@@, t-itle@@, file n-ame@@, ma-nual@@} .
@ref{chapter, cross ref name, title, file name, manual} 
@pxref{chapter, cross ref name, title, file name, manual} 
@inforef{chapter, cross ref name, file name} 

@ref{chapter} 
@xref{chapter} .
@pxref{chapter} 
@ref{s-ect@comma{}ion} 

@ref{s-ect@comma{}ion, a @comma{} in cross
ref, a comma@comma{} in title, a comma@comma{} in file, a @comma{} in manual name }


@ref{chapter,cross ref name} 
@ref{chapter,,title} 
@ref{chapter,,,file name} 
@ref{chapter,,,,manual} 
@ref{chapter,cross ref name,title,} 
@ref{chapter,cross ref name,,file name} 
@ref{chapter,cross ref name,,,manual} 
@ref{chapter,cross ref name,title,file name} 
@ref{chapter,cross ref name,title,,manual} 
@ref{chapter,cross ref name,title, file name, manual} 
@ref{chapter,,title,file name} 
@ref{chapter,,title,,manual} 
@ref{chapter,,title, file name, manual} 
@ref{chapter,,,file name,manual} 


@ref{(pman)anode,cross ref name} 
@ref{(pman)anode,,title} 
@ref{(pman)anode,,,file name} 
@ref{(pman)anode,,,,manual} 
@ref{(pman)anode,cross ref name,title,} 
@ref{(pman)anode,cross ref name,,file name} 
@ref{(pman)anode,cross ref name,,,manual} 
@ref{(pman)anode,cross ref name,title,file name} 
@ref{(pman)anode,cross ref name,title,,manual} 
@ref{(pman)anode,cross ref name,title, file name, manual} 
@ref{(pman)anode,,title,file name} 
@ref{(pman)anode,,title,,manual} 
@ref{(pman)anode,,title, file name, manual} 
@ref{(pman)anode,,,file name,manual} 


@inforef{chapter, cross ref name, file name} 
@inforef{chapter} 
@inforef{chapter, cross ref name} 
@inforef{chapter,,file name} 
@inforef{node, cross ref name, file name} 
@inforef{node} 
@inforef{node, cross ref name} 
@inforef{node,,file name} 
@inforef{chapter, cross ref name, file name, spurious arg} 

@inforef{s-ect@comma{}ion, a @comma{} in cross
ref, a comma@comma{} in file}



 a
l-ine


 a
 b
l-ine


 a
 b
l-ine



c-artouche



g-roupe



f-lushleft



f-lushright


 ce-ntered line

\input texinfo @c -*-texinfo-*-

@setfilename simplest.info

@node Top

This is a very simple texi manual @  <>.

@bye

in verbatim ''


html ''



majorheading

chapheading

heading

subheading

subsubheading


@acronym{-a,an accronym @comma{} @enddots{}} -a
@abbr{@'E-. @comma{}A., @'Etude-@comma{} @b{Autonome} } E'-. ,A.
@abbr{@'E-. @comma{}A.} E'-. ,A.

@math{-a@minus{} {\frac{1}{2}}} -a- {\frac{1}{2}}

@image{f-ile,,,alt@verb{:jk _" %}} f-ile
@image{f-ile,aze,az,@verb{:jk _" %@:} @b{in b "},e-xt} f-ile
@image{file@verb{:jk _" %@:},,,alt@verb{:jk _" %@:}} filejk _" %@




Somehow invalid use of @,:

@, ,


@,@"u @,"u

Invalid use of @':

@' '


@'@"u @'"u

@dotless{truc} truc
@dotless{ij} ij
@dotless{-a} -a
@dotless{a} a

@TeX, but without brace TeX

@# @#

@w{-a} -a

@image{,1-xt} 
@image{,,2-xt} 
@image{,,,3-xt} 


 e-mph item


 i-tem 1
 i-tem 2


    fun
 machin bidule chose and     truc
 machin bidule chose and  after    truc
 machin bidule chose and {    truc
 machin bidule chose and { and after    truc
 followed by a comment    truc
Various deff lines
 after a deff item    truc


@ref{node} 

@ref{,cross ref name} 
@ref{,,title} 
@ref{,,,file name} 
@ref{,,,,manual} 
@ref{node,cross ref name} 
@ref{node,,title} 
@ref{node,,,file name} 
@ref{node,,,,manual} 
@ref{node,cross ref name,title,} 
@ref{node,cross ref name,,file name} 
@ref{node,cross ref name,,,manual} 
@ref{node,cross ref name,title,file name} 
@ref{node,cross ref name,title,,manual} 
@ref{node,cross ref name,title, file name, manual} 
@ref{node,,title,file name} 
@ref{node,,title,,manual} 
@ref{chapter,,title, file name, manual} 
@ref{node,,title, file name, manual} 
@ref{node,,,file name,manual} 
@ref{,cross ref name,title,} 
@ref{,cross ref name,,file name} 
@ref{,cross ref name,,,manual} 
@ref{,cross ref name,title,file name} 
@ref{,cross ref name,title,,manual} 
@ref{,cross ref name,title, file name, manual} 
@ref{,,title,file name} 
@ref{,,title,,manual} 
@ref{,,title, file name, manual} 
@ref{,,,file name,manual} 

@inforef{,cross ref name } 
@inforef{,,file name} 
@inforef{,cross ref name, file name} 
@inforef{} 


 -->
<!-- Created on a sunny day by texi2html
texi2html was written by: 
            Lionel Cons <Lionel.Cons@cern.ch> (original author)
            Karl Berry  <karl@freefriends.org>
            Olaf Bachmann <obachman@mathematik.uni-kl.de>
            and many others.
Maintained by: Many creative people.
Send bugs and suggestions to <texi2html-bug@nongnu.org>
-->
<head>
<title>title &ndash;a: About This Document</title>

<meta name="description" content="title &ndash;a: About This Document">
<meta name="keywords" content="title &ndash;a: About This Document">
<meta name="resource-type" content="document">
<meta name="distribution" content="global">
<meta name="Generator" content="texi2html">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<!--
a.summary-letter {text-decoration: none}
blockquote.smallquotation {font-size: smaller}
pre.display {font-family: serif}
pre.format {font-family: serif}
pre.menu-comment {font-family: serif}
pre.menu-preformatted {font-family: serif}
pre.smalldisplay {font-family: serif; font-size: smaller}
pre.smallexample {font-size: smaller}
pre.smallformat {font-family: serif; font-size: smaller}
pre.smalllisp {font-size: smaller}
span.roman {font-family:serif; font-weight:normal;}
span.sansserif {font-family:sans-serif; font-weight:normal;}
ul.no-bullet {list-style: none}
-->
</style>
<link rel="stylesheet" type="text/css" href="http://www.environnement.ens.fr/perso/dumas/background-color.css">


</head>

<body lang="en" bgcolor="#FFFFFF" text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">

<a name="SEC_About"></a>
<table class="header" cellpadding="1" cellspacing="1" border="0">
<tr><td valign="middle" align="left">[<a href="formatting.html#Top" title="Cover (top) of document">Top</a>]</td>
<td valign="middle" align="left">[<a href="formatting_toc.html#SEC_Contents" title="Table of contents">Contents</a>]</td>
<td valign="middle" align="left">[<a href="formatting.html#Top" title="Index">Index</a>]</td>
<td valign="middle" align="left">[<a href="#SEC_About" title="About (help)"> ? </a>]</td>
</tr></table>
<h1>About This Document</h1>

<p>
  This document was generated on <i>a sunny day</i> using <a href="http://www.nongnu.org/texi2html/"><i>texi2html</i></a>.
</p>
<p>
  The buttons in the navigation panels have the following meaning:
</p>
<table border="1">
  <tr>
    <th> Button </th>
    <th> Name </th>
    <th> Go to </th>
    <th> From 1.2.3 go to</th>
  </tr>
  <tr>
    <td align="center"> [ &lt;&lt; ] </td>
    <td align="center">FastBack</td>
    <td>Beginning of this chapter or previous chapter</td>
    <td>1</td>
  </tr>
  <tr>
    <td align="center"> [ &lt; ] </td>
    <td align="center">Back</td>
    <td>Previous section in reading order</td>
    <td>1.2.2</td>
  </tr>
  <tr>
    <td align="center"> [ Up ] </td>
    <td align="center">Up</td>
    <td>Up section</td>
    <td>1.2</td>
  </tr>
  <tr>
    <td align="center"> [ &gt; ] </td>
    <td align="center">Forward</td>
    <td>Next section in reading order</td>
    <td>1.2.4</td>
  </tr>
  <tr>
    <td align="center"> [ &gt;&gt; ] </td>
    <td align="center">FastForward</td>
    <td>Next chapter</td>
    <td>2</td>
  </tr>
  <tr>
    <td align="center"> [Top] </td>
    <td align="center">Top</td>
    <td>Cover (top) of document</td>
    <td> &nbsp; </td>
  </tr>
  <tr>
    <td align="center"> [Contents] </td>
    <td align="center">Contents</td>
    <td>Table of contents</td>
    <td> &nbsp; </td>
  </tr>
  <tr>
    <td align="center"> [Index] </td>
    <td align="center">Index</td>
    <td>Index</td>
    <td> &nbsp; </td>
  </tr>
  <tr>
    <td align="center"> [ ? ] </td>
    <td align="center">About</td>
    <td>About (help)</td>
    <td> &nbsp; </td>
  </tr>
</table>

<p>
  where the <strong> Example </strong> assumes that the current position is at <strong> Subsubsection One-Two-Three </strong> of a document of the following structure:
</p>

<ul>
  <li> 1. Section One
    <ul>
      <li>1.1 Subsection One-One
        <ul>
          <li>...</li>
        </ul>
      </li>
      <li>1.2 Subsection One-Two
        <ul>
          <li>1.2.1 Subsubsection One-Two-One</li>
          <li>1.2.2 Subsubsection One-Two-Two</li>
          <li>1.2.3 Subsubsection One-Two-Three &nbsp; &nbsp;
            <strong>&lt;== Current Position </strong></li>
          <li>1.2.4 Subsubsection One-Two-Four</li>
        </ul>
      </li>
      <li>1.3 Subsection One-Three
        <ul>
          <li>...</li>
        </ul>
      </li>
      <li>1.4 Subsection One-Four</li>
    </ul>
  </li>
</ul>

<hr>
<table class="header" cellpadding="1" cellspacing="1" border="0">
<tr><td valign="middle" align="left">[<a href="formatting.html#Top" title="Cover (top) of document">Top</a>]</td>
<td valign="middle" align="left">[<a href="formatting_toc.html#SEC_Contents" title="Table of contents">Contents</a>]</td>
<td valign="middle" align="left">[<a href="formatting.html#Top" title="Index">Index</a>]</td>
<td valign="middle" align="left">[<a href="#SEC_About" title="About (help)"> ? </a>]</td>
</tr></table>
<p>
 <font size="-1">
  This document was generated on <i>a sunny day</i> using <a href="http://www.nongnu.org/texi2html/"><i>texi2html</i></a>.
 </font>
 <br>

</p>
</body>
</html>
