# htmlxref.cnf - reference file for Texinfo files on the web.

htmlxrefversion=2010-10-14.17; # UTC

# Copyright 2010 Free Software Foundation, Inc.
# 
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.
#
# The latest version of this file is available at
# http://ftpmirror.gnu.org/texinfo/htmlxref.cnf.
# Email corrections or additions to bug-texinfo@gnu.org.
# The goal is for it to list all relevant GNU manuals, at least.
#
# Maintainers: for information on putting manuals on the web, including
# automatically generating all the useful formats, see
# http://www.gnu.org/prep/maintain/html_node/Manuals-on-Web-Pages.html.
#
# All the manuals in this file should follow the naming convention for
# nodes described at
# http://www.gnu.org/software/texinfo/manual/texinfo/html_node/HTML-Xref.html
# (otherwise cross-references fail).  This is what makeinfo and
# texi2html implement.
 
# shorten references to manuals on www.gnu.org.
G = http://www.gnu.org
GS = ${G}/software

3dldf		mono	${GS}/3dldf/manual/user_ref/3DLDF.html
3dldf		node	${GS}/3dldf/manual/user_ref/

anubis		chapter	${GS}/anubis/manual/html_chapter/
anubis		section	${GS}/anubis/manual/html_section/
anubis		node	${GS}/anubis/manual/html_node/

autoconf	mono	${GS}/autoconf/manual/autoconf.html
autoconf	node	${GS}/autoconf/manual/html_node/

autogen		mono	${GS}/autogen/manual/html_mono/autogen.html
autogen		chapter	${GS}/autogen/manual/html_chapter/
autogen		node	${GS}/autoconf/manual/html_node/

automake	mono	${GS}/automake/manual/automake.html
automake	node	${GS}/automake/manual/html_node/

bash		mono	${GS}/bash/manual/bash.html
bash		node	${GS}/bash/manual/html_node/

BINU = http://sourceware.org/binutils/docs
binutils	node	${BINU}/binutils/
 as		node	${BINU}/as/
 bfd		node	${BINU}/bfd/
 gprof		node	${BINU}/gprof/
 ld		node	${BINU}/ld/

bison		mono	${GS}/bison/manual/bison.html
bison		node	${GS}/bison/manual/html_node/

bpel2owfn	mono	http://www.gnu.org/software/bpel2owfn/manual/2.0.x/bpel2owfn.html

cflow		mono	${GS}/cflow/manual/cflow
cflow		node	${GS}/cflow/manual/html_node/

coreutils	mono	${GS}/coreutils/manual/coreutils
coreutils	node	${GS}/coreutils/manual/html_node/

cssc		node	${GS}/cssc/manual/

#cvs cannot be handled here; see http://ximbiot.com/cvs/manual.

ddd		mono	${GS}/ddd/manual/html_mono/ddd.html

diffutils	mono	${GS}/diffutils/manual/diffutils.html

emacs		mono	${GS}/emacs/manual/html_mono/emacs.html
emacs		node	${GS}/emacs/manual/html_node/
 #
 ada-mode	mono	${GS}/emacs/manual/html_mono/ada-mode.html
 ada-mode	node	${GS}/emacs/manual/html_node/ada-mode/
 #
 autotype	mono	${GS}/emacs/manual/html_mono/autotype.html
 autotype	node	${GS}/emacs/manual/html_node/autotype/
 #
 ccmode		mono	${GS}/emacs/manual/html_mono/ccmode.html
 ccmode		node	${GS}/emacs/manual/html_node/ccmode/
 #
 cl		mono	${GS}/emacs/manual/html_mono/cl.html
 cl		node	${GS}/emacs/manual/html_node/cl/
 #
 ebrowse	mono	${GS}/emacs/manual/html_mono/ebrowse.html
 ebrowse	node	${GS}/emacs/manual/html_node/ebrowse/
 #
 ediff		mono	${GS}/emacs/manual/html_mono/ediff.html
 ediff		node	${GS}/emacs/manual/html_node/ediff/
 #
 eieio		mono	${GS}/emacs/manual/html_mono/eieio.html
 eieio		node	${GS}/emacs/manual/html_node/eieio/
 #
 elisp		mono	${GS}/emacs/manual/html_mono/elisp.html
 elisp		node	${GS}/emacs/manual/html_node/elisp/
 #
 epa		mono	${GS}/emacs/manual/html_mono/epa.html
 epa		node	${GS}/emacs/manual/html_node/epa/
 #
 erc		mono	${GS}/emacs/manual/html_mono/erc.html
 erc		node	${GS}/emacs/manual/html_node/erc/
 #
 dired-x	mono	${GS}/emacs/manual/html_mono/dired-x.html
 dired-x	node	${GS}/emacs/manual/html_node/dired-x/
 #
 eshell		mono	${GS}/emacs/manual/html_mono/eshell.html
 eshell		node	${GS}/emacs/manual/html_node/eshell/
 #
 flymake	mono	${GS}/emacs/manual/html_mono/flymake.html
 flymake	node	${GS}/emacs/manual/html_node/flymake/
 #
 gnus		mono	${GS}/emacs/manual/html_mono/gnus.html
 gnus		node	${GS}/emacs/manual/html_node/gnus/
 #
 idlwave	mono	${GS}/emacs/manual/html_mono/idlwave.html
 idlwave	node	${GS}/emacs/manual/html_node/idlwave/
 #
 message	mono	${GS}/emacs/manual/html_mono/message.html
 message	node	${GS}/emacs/manual/html_node/message/
 #
 mh-e		mono	${GS}/emacs/manual/html_mono/mh-e.html
 mh-e		node	${GS}/emacs/manual/html_node/mh-e/
 #
 nxml-mode	mono	${GS}/emacs/manual/html_mono/nxml-mode.html
 nxml-mode	node	${GS}/emacs/manual/html_node/nxml-mode/
 #
 org		mono	${GS}/emacs/manual/html_mono/org.html
 org		node	${GS}/emacs/manual/html_node/org/
 #
 pcl-cvs	mono	${GS}/emacs/manual/html_mono/pcl-cvs.html
 pcl-cvs	node	${GS}/emacs/manual/html_node/pcl-cvs/
 #
 rcirc		mono	${GS}/emacs/manual/html_mono/rcirc.html
 rcirc		node	${GS}/emacs/manual/html_node/rcirc/
 #
 semantic	mono	${GS}/emacs/manual/html_mono/semantic.html
 semantic	node	${GS}/emacs/manual/html_node/semantic/
 #
 smtp		mono	${GS}/emacs/manual/html_mono/smtp.html
 smtp		node	${GS}/emacs/manual/html_node/smtp/
 #
 speedbar	mono	${GS}/emacs/manual/html_mono/speedbar.html
 speedbar	node	${GS}/emacs/manual/html_node/speedbar/
 #
 tramp		mono	${GS}/emacs/manual/html_mono/tramp.html
 tramp		node	${GS}/emacs/manual/html_node/tramp/
 #
 vip		mono	${GS}/emacs/manual/html_mono/vip.html
 vip		node	${GS}/emacs/manual/html_node/vip/
 #
 viper		mono	${GS}/emacs/manual/html_mono/viper.html
 viper		node	${GS}/emacs/manual/html_node/viper/
 #
 woman		mono	${GS}/emacs/manual/html_mono/woman.html
 woman		node	${GS}/emacs/manual/html_node/woman/
 # (end emacs manuals)

emms		node	${GS}/emms/manual/

findutils	mono	${GS}/findutils/manual/html_mono/find.html
findutils	node	${GS}/findutils/manual/html_mono/find_html

gama		mono	${GS}/gama/manual/gama.html
gama		node	${GS}/gama/manual/html_node/

gcal		mono	${GS}/gcal/manual/gcal.html
gcal		node	${GS}/gcal/manual/html_node/

gccint		node	http://gcc.gnu.org/onlinedocs/gccint/
 cpp		node	http://gcc.gnu.org/onlinedocs/gccint/
 gcj		node	http://gcc.gnu.org/onlinedocs/gcj/
 gfortran	node	http://gcc.gnu.org/onlinedocs/gfortran/
 gnat_rm	node	http://gcc.gnu.org/onlinedocs/gnat_rm/
 gnat_ugn_unw	node	http://gcc.gnu.org/onlinedocs/gnat_ugn_unw/
 libgomp	node	http://gcc.gnu.org/onlinedocs/libgomp/

GDB = http://sourceware.org/gdb/current/onlinedocs
gdb		node	${GDB}/gdb/
 gdbint		node	${GDB}/gdbint/
 stabs		node	${GDB}/stabs/

gettext		mono	${GS}/gettext/manual/gettext.html
gettext		node	${GS}/gettext/manual/html_node/

gforth		node	http://www.complang.tuwien.ac.at/forth/gforth/Docs-html/

global		mono	${GS}/global/manual/global.html

gnu-arch	node	${GS}/gnu-arch/tutorial/

gnu-crypt	node	${GS}/gnu-crypto/manual/

gnubg		mono	${GS}/gnubg/manual/gnubg.html
gnubg		node	${GS}/gnubg/manual/html_node/

gnubik		mono	${GS}/gnubik/manual/gnubik.html
gnubik		node	${GS}/gnubik/manual/html_node/

gnulib		mono	${GS}/gnulib/manual/gnulib.html
gnulib		node	${GS}/gnulib/manual/html_node/

GNUPG = http://www.gnupg.org/documentation/manuals
gnupg		node	${GNUPG}/gnupg/
 dirmngr	node	${GNUPG}/dirmngr/
 gcrypt		node	${GNUPG}/gcrypt/
 ksba		node	${GNUPG}/ksba/
 assuan		node	${GNUPG}/assuan/
 gpgme		node	${GNUPG}/gpgme/

gnuschool	mono	${GS}/gnuschool/gnuschool.html

gperf		mono	${GS}/gperf/manual/gperf.html
gperf		node	${GS}/gperf/manual/html_node/

gtypist		mono	${GS}/gtypist/doc/

guile		mono	${GS}/guile/manual/guile.html
guile		node	${GS}/guile/manual/html_node/

GUILE_GNOME = ${GS}/software/guile-gnome/docs
 gobject 	node	${GUILE_GNOME}/gobject/html/
 glib		node	${GUILE_GNOME}/glib/html/
 atk		node	${GUILE_GNOME}/atk/html/
 pango		node	${GUILE_GNOME}/pango/html/
 pangocairo	node	${GUILE_GNOME}/pangocairo/html/
 gdk		node	${GUILE_GNOME}/gdk/html/
 gtk		node	${GUILE_GNOME}/gtk/html/
 libglade	node	${GUILE_GNOME}/libglade/html/
 gnome-vfs	node	${GUILE_GNOME}/gnome-vfs/html/
 libgnomecanvas	node	${GUILE_GNOME}/libgnomecanvas/html/
 gconf		node	${GUILE_GNOME}/gconf/html/
 libgnome	node	${GUILE_GNOME}/libgnome/html/
 libgnomeui	node	${GUILE_GNOME}/libgnomeui/html/
 corba		node	${GUILE_GNOME}/corba/html/
 clutter	node	${GUILE_GNOME}/clutter/html/
 clutter-glx	node	${GUILE_GNOME}/clutter-glx/html/

guile-rpc	mono	${GS}/guile-rpc/manual/guile-rpc.html
guile-rpc	node	${GS}/guile-rpc/manual/html_node/

gv		mono	${GS}/gv/manual/gv.html
gv		node	${GS}/gv/manual/html_node/

hello		mono	${GS}/hello/manual/hello.html
hello		node	${GS}/hello/manual/html_node/

idutils		mono	${GS}/idutils/manual/idutils.html
idutils		node	${GS}/idutils/manual/html_node/

inetutils	mono	${GS}/inetutils/manual/inetutils.html
inetutils	node	${GS}/inetutils/manual/html_node/

jwhois		mono	${GS}/jwhois/manual/jwhois.html
jwhois		node	${GS}/jwhois/manual/html_node/

libextractor	mono	${GS}/libextractor/extractor.html

libmatheval	mono	${GS}/libmatheval/matheval.html

liquidwar6	mono	${GS}/liquidwar6/manual/liquidwar6.html
liquidwar6	node	${GS}/liquidwar6/manual/html_node/

mailutils	mono	${GS}/mailutils/manual/mailutils.html
mailutils	node	${GS}/mailutils/manual/html_node/

maintain	mono	${G}/prep/maintain/maintain.html
maintain	node	${G}/prep/maintain/html_node/

make		mono	${GS}/make/manual/make.html
make		node	${GS}/make/manual/html_node/

mdk		mono	${GS}/mdk/manual/mdk.html
mdk		node	${GS}/mdk/manual/html_node/

MIT_SCHEME = http://www.gnu.org/software/mit-scheme/documentation
 mit-scheme-ref	  node	${MIT_SCHEME}/mit-scheme-ref/
 mit-scheme-user  node	${MIT_SCHEME}/mit-scheme-user/
 sos		  node	${MIT_SCHEME}/sos/
 mit-scheme-imail node	${MIT_SCHEME}/mit-scheme-imail/

motti		node	${GS}/motti/manual/

ocrad		mono	${GS}/ocrad/manual/ocrad_manual.html

pascal		mono	http://www.gnu-pascal.de/gpc/

pspp		mono	${GS}/pspp/manual/pspp.html
pspp		node	${GS}/pspp/manual/html_node/

recode		mono	http://recode.progiciels-bpi.ca/manual/index.html

screen		mono	${GS}/screen/manual/screen.html
screen		node	${GS}/screen/manual/html_node/

standards	mono	${G}/prep/standards/standards.html
standards	node	${G}/prep/standards/html_node/

swbis		mono	${GS}/swbis/manual.html

texinfo		mono	${GS}/texinfo/manual/texinfo/texinfo.html
texinfo		node	${GS}/texinfo/manual/texinfo/html_node/
 #
 info		mono	${GS}/texinfo/manual/info/info.html
 info		node	${GS}/texinfo/manual/info/html_node/
 #
 info-stnd	mono	${GS}/texinfo/manual/info-stnd/info-stnd.html
 info-stnd	node	${GS}/texinfo/manual/info-stnd/html_node/

units		mono	${GS}/units/manual/units.html
units		node	${GS}/units/manual/html_node/

wget		mono	${GS}/wget/manual/wget.html
wget		node	${GS}/wget/manual/html_node/

# Local Variables:
# eval: (add-hook 'write-file-hooks 'time-stamp)
# time-stamp-start: "htmlxrefversion="
# time-stamp-format: "%:y-%02m-%02d.%02H"
# time-stamp-time-zone: "UTC"
# time-stamp-end: "; # UTC"
# End:
