# htmlxref.cnf - reference file for Texinfo files on the web.

htmlxrefversion=2010-09-07.17; # UTC

# Copyright 2010 Free Software Foundation, Inc.
# 
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.
#
# The latest version of this file is available at
# http://ftpmirror.gnu.org/texinfo/htmlxref.cnf.
# Email corrections or additions to bug-texinfo@gnu.org.
# The goal is for it to list all relevant GNU manuals, at least.
#
# Maintainers: for information on putting manuals on the web, including
# automatically generating all the useful formats, see
# http://www.gnu.org/prep/maintain/html_node/Manuals-on-Web-Pages.html.
#
# All the manuals in this file should follow the naming convention for
# nodes described at
# http://www.gnu.org/software/texinfo/manual/texinfo/html_node/HTML-Xref.html
# (otherwise cross-references fail).  This is what makeinfo and
# texi2html implement.
 
# shorten references to manuals on www.gnu.org.
G = http://www.gnu.org
GS = ${G}/software

3dldf		mono	${GS}/3dldf/manual/user_ref/3DLDF.html
3dldf		node	${GS}/3dldf/manual/user_ref/

anubis		chapter	${GS}/anubis/manual/html_chapter/
anubis		section	${GS}/anubis/manual/html_section/
anubis		node	${GS}/anubis/manual/html_node/

autoconf	mono	${GS}/autoconf/manual/autoconf.html
autoconf	node	${GS}/autoconf/manual/html_node/

automake	mono	${GS}/automake/manual/automake.html
automake	node	${GS}/automake/manual/html_node/

bpel2owfn	mono	http://www.gnu.org/software/bpel2owfn/manual/2.0.x/bpel2owfn.html

cpp		node	http://gcc.gnu.org/onlinedocs/gccint/

#cvs cannot be handled here; see http://ximbiot.com/cvs/manual.

elisp		mono	${GS}/emacs/manual/html_mono/elisp.html
elisp		node	${GS}/emacs/manual/html_node/

emacs		mono	${GS}/emacs/manual/html_mono/emacs.html
emacs		node	${GS}/emacs/manual/html_node/

emms		node	${GS}/emms/manual/

gcal		mono	${GS}/gcal/manual/gcal.html
gcal		node	${GS}/gcal/manual/html_node/

gccint		node	http://gcc.gnu.org/onlinedocs/gccint/
gcj		node	http://gcc.gnu.org/onlinedocs/gcj/
gfortran	node	http://gcc.gnu.org/onlinedocs/gfortran/
gnat_rm		node	http://gcc.gnu.org/onlinedocs/gnat_rm/
gnat_ugn_unw	node	http://gcc.gnu.org/onlinedocs/gnat_ugn_unw/
libgomp		node	http://gcc.gnu.org/onlinedocs/libgomp/

gettext		mono	${GS}/gettext/manual/gettext.html
gettext		node	${GS}/gettext/manual/html_node/

gnubg		mono	${GS}/gnubg/manual/gnubg.html
gnubg		node	${GS}/gnubg/manual/html_node/

gnubik		mono	${GS}/gnubik/manual/gnubik.html
gnubik		node	${GS}/gnubik/manual/html_node/

gnus		mono	${GS}/emacs/manual/html_node/mh-e/
gnus		node	${GS}/emacs/manual/html_mono/mh-e.html

gnuschool	mono	${GS}/gnuschool/gnuschool.html

gtypist		mono	${GS}/gtypist/doc/

inetutils	mono	${GS}/inetutils/manual/inetutils.html
inetutils	node	${GS}/inetutils/manual/html_node/

jwhois		mono	${GS}/jwhois/manual/jwhois.html
jwhois		node	${GS}/jwhois/manual/html_node/

libextractor	mono	${GS}/libextractor/extractor.html

liquidwar6	mono	${GS}/liquidwar6/manual/liquidwar6.html
liquidwar6	node	${GS}/liquidwar6/manual/html_node/

mailutils	mono	${GS}/mailutils/manual/mailutils.html
mailutils	node	${GS}/mailutils/manual/html_node/

maintain	mono	${G}/prep/maintain/maintain.html
maintain	node	${G}/prep/maintain/html_node/

mdk		mono	${GS}/mdk/manual/mdk.html
mdk		node	${GS}/mdk/manual/html_node/

mh-e		mono	${GS}/emacs/manual/html_node/mh-e/
mh-e		node	${GS}/emacs/manual/html_mono/mh-e.html

motti		node	${GS}/motti/manual/

ocrad		mono	${GS}/ocrad/manual/ocrad_manual.html

recode		mono	http://recode.progiciels-bpi.ca/manual/index.html

standards	mono	${G}/prep/standards/standards.html
standards	node	${G}/prep/standards/html_node/

texinfo		mono	${GS}/texinfo/manual/texinfo/texinfo.html
texinfo		node	${GS}/texinfo/manual/texinfo/html_node/

wget		mono	${GS}/wget/manual/wget.html
wget		node	${GS}/wget/manual/html_node/

# Local Variables:
# eval: (add-hook 'write-file-hooks 'time-stamp)
# time-stamp-start: "htmlxrefversion="
# time-stamp-format: "%:y-%02m-%02d.%02H"
# time-stamp-time-zone: "UTC"
# time-stamp-end: "; # UTC"
# End:
